@font-face {
  font-family: '나눔손글씨 미니 손글씨';
  src: local('나눔손글씨 미니 손글씨'), local('나눔손글씨 미니 손글씨 '), local('Nanum MiNiSonGeurSsi'), local('Nanum MiNiSonGeurSsi '), url(./mini-songeul-ssi.woff2) format('woff2'), url(./mini-songeul-ssi.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
