@font-face {
  font-family: '나눔손글씨 신혼부부';
  src: url(./sinhonbubu.eot);
  src: local('나눔손글씨 신혼부부 '),
       local('나눔손글씨 신혼부부'),
       url(./sinhonbubu.eot?#iefix) format('embedded-opentype'),
       url(./sinhonbubu.woff2) format('woff2'),
       url(./sinhonbubu.woff) format('woff'),
       url(./sinhonbubu.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: '나눔손글씨신혼부부';
  src: url(./sinhonbubu.eot);
  src: local('나눔손글씨신혼부부 '),
       local('나눔손글씨신혼부부'),
       url(./sinhonbubu.eot?#iefix) format('embedded-opentype'),
       url(./sinhonbubu.woff2) format('woff2'),
       url(./sinhonbubu.woff) format('woff'),
       url(./sinhonbubu.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'nanum-handwritting-sinhonbubu';
  src: url(./sinhonbubu.eot);
  src: local('nanum-handwritting-sinhonbubu '),
       local('nanum-handwritting-sinhonbubu'),
       url(./sinhonbubu.eot?#iefix) format('embedded-opentype'),
       url(./sinhonbubu.woff2) format('woff2'),
       url(./sinhonbubu.woff) format('woff'),
       url(./sinhonbubu.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
