@font-face {
  font-family: '나눔손글씨 열아홉의 반짝임';
  src: url(./yeol-ahob-ui-ban-jjag-im.eot);
  src: local('나눔손글씨 열아홉의 반짝임 '),
       local('나눔손글씨 열아홉의 반짝임'),
       url(./yeol-ahob-ui-ban-jjag-im.eot?#iefix) format('embedded-opentype'),
       url(./yeol-ahob-ui-ban-jjag-im.woff2) format('woff2'),
       url(./yeol-ahob-ui-ban-jjag-im.woff) format('woff'),
       url(./yeol-ahob-ui-ban-jjag-im.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: '나눔손글씨열아홉의반짝임';
  src: url(./yeol-ahob-ui-ban-jjag-im.eot);
  src: local('나눔손글씨열아홉의반짝임 '),
       local('나눔손글씨열아홉의반짝임'),
       url(./yeol-ahob-ui-ban-jjag-im.eot?#iefix) format('embedded-opentype'),
       url(./yeol-ahob-ui-ban-jjag-im.woff2) format('woff2'),
       url(./yeol-ahob-ui-ban-jjag-im.woff) format('woff'),
       url(./yeol-ahob-ui-ban-jjag-im.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'nanum-handwritting-yeol-ahob-ui-ban-jjag-im';
  src: url(./yeol-ahob-ui-ban-jjag-im.eot);
  src: local('nanum-handwritting-yeol-ahob-ui-ban-jjag-im '),
       local('nanum-handwritting-yeol-ahob-ui-ban-jjag-im'),
       url(./yeol-ahob-ui-ban-jjag-im.eot?#iefix) format('embedded-opentype'),
       url(./yeol-ahob-ui-ban-jjag-im.woff2) format('woff2'),
       url(./yeol-ahob-ui-ban-jjag-im.woff) format('woff'),
       url(./yeol-ahob-ui-ban-jjag-im.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
