@font-face {
  font-family: '나눔손글씨 안쌍체';
  src: local('나눔손글씨 안쌍체'), local('나눔손글씨 안쌍체 '), local('Nanum AnSsangCe'), local('Nanum AnSsangCe '), url(./anssangche.woff2) format('woff2'), url(./anssangche.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
