
@font-face {
  font-family: '나눔손글씨 안쌍체';
  src: url(./anssangche.eot);
  src: local('나눔손글씨 안쌍체 '),
       local('나눔손글씨 안쌍체'),
       url(./anssangche.eot?#iefix) format('embedded-opentype'),
       url(./anssangche.woff2) format('woff2'),
       url(./anssangche.woff) format('woff'),
       
       url(./anssangche.ttf) format('truetype'),
       url(./anssangche.svg#anssangche) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: '나눔손글씨 안쌍체';
  src: url(./anssangche.eot);
  src: local('나눔손글씨 안쌍체 '),
       local('나눔손글씨 안쌍체'),
       url(./anssangche.eot?#iefix) format('embedded-opentype'),
       url(./anssangche.woff2) format('woff2'),
       url(./anssangche.woff) format('woff'),
       
       url(./anssangche.ttf) format('truetype'),
       url(./anssangche.svg#anssangche) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'nanum-handwritting-anssangche';
  src: url(./anssangche.eot);
  src: local('nanum-handwritting-anssangche '),
       local('nanum-handwritting-anssangche'),
       url(./anssangche.eot?#iefix) format('embedded-opentype'),
       url(./anssangche.woff2) format('woff2'),
       url(./anssangche.woff) format('woff'),
       
       url(./anssangche.ttf) format('truetype'),
       url(./anssangche.svg#anssangche) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
