@font-face {
  font-family: '나눔손글씨 중학생';
  src: local('나눔손글씨 중학생'), local('나눔손글씨 중학생 '), local('Nanum JungHagSaeng'), local('Nanum JungHagSaeng '), url(./junghagsaeng.woff2) format('woff2'), url(./junghagsaeng.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
