@font-face {
  font-family: '나눔손글씨 다시 시작해';
  src: local('나눔손글씨 다시 시작해'), local('나눔손글씨 다시 시작해 '), local('Nanum DaSiSiJagHae'), local('Nanum DaSiSiJagHae '), url(./dasi-sijaghae.woff2) format('woff2'), url(./dasi-sijaghae.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
