@font-face {
  font-family: '나눔손글씨 다채사랑';
  src: local('나눔손글씨 다채사랑'), local('나눔손글씨 다채사랑 '), local('Nanum DaCaeSaRang'), local('Nanum DaCaeSaRang '), url(./dachaesalang.woff2) format('woff2'), url(./dachaesalang.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
