
@font-face {
  font-family: '나눔손글씨 열일체';
  src: url(./yeol-ilche.eot);
  src: local('나눔손글씨 열일체 '),
       local('나눔손글씨 열일체'),
       url(./yeol-ilche.eot?#iefix) format('embedded-opentype'),
       url(./yeol-ilche.woff2) format('woff2'),
       url(./yeol-ilche.woff) format('woff'),
       url(./yeol-ilche.ttf) format('truetype'),
       url(./yeol-ilche.otf) format('otf'),
       url(./yeol-ilche.svg#yeol-ilche) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
