@font-face {
  font-family: '학교안심 물결OTF';
  src: local('학교안심 물결OTF'), local('학교안심 물결OTF '), local('Hakgyoansim MulgyeolOTF'), local('Hakgyoansim MulgyeolOTF '), url(./HakgyoansimMulgyeolOTFR.woff2) format('woff2'), url(./HakgyoansimMulgyeolOTFR.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: '학교안심 물결OTF';
  src: local('학교안심 물결OTF'), local('학교안심 물결OTF '), local('Hakgyoansim MulgyeolOTF'), local('Hakgyoansim MulgyeolOTF '), url(./HakgyoansimMulgyeolOTFB.woff2) format('woff2'), url(./HakgyoansimMulgyeolOTFB.woff) format('woff');
  font-display: swap;
  font-weight: 700;
}
