@font-face {
  font-family: '학교안심 사물함';
  src: local('학교안심 사물함'), local('학교안심 사물함 '), local('Hakgyoansim Samulham'), local('Hakgyoansim Samulham '), url(./HakgyoansimSamulhamR.woff2) format('woff2'), url(./HakgyoansimSamulhamR.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
