@font-face {
  font-family: '나눔손글씨 소미체';
  src: local('나눔손글씨 소미체'), local('나눔손글씨 소미체 '), local('Nanum SoMiCe'), local('Nanum SoMiCe '), url(./somiche.woff2) format('woff2'), url(./somiche.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
