@font-face {
  font-family: '나눔손글씨 여름글씨';
  src: url(./yeoleumgeul-ssi.eot);
  src: local('나눔손글씨 여름글씨 '),
       local('나눔손글씨 여름글씨'),
       url(./yeoleumgeul-ssi.eot?#iefix) format('embedded-opentype'),
       url(./yeoleumgeul-ssi.woff2) format('woff2'),
       url(./yeoleumgeul-ssi.woff) format('woff'),
       
       url(./yeoleumgeul-ssi.ttf) format('truetype'),
       url(./yeoleumgeul-ssi.svg#yeoleumgeul-ssi) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: '나눔손글씨 여름글씨';
  src: url(./yeoleumgeul-ssi.eot);
  src: local('나눔손글씨 여름글씨 '),
       local('나눔손글씨 여름글씨'),
       url(./yeoleumgeul-ssi.eot?#iefix) format('embedded-opentype'),
       url(./yeoleumgeul-ssi.woff2) format('woff2'),
       url(./yeoleumgeul-ssi.woff) format('woff'),
       
       url(./yeoleumgeul-ssi.ttf) format('truetype'),
       url(./yeoleumgeul-ssi.svg#yeoleumgeul-ssi) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'nanum-handwritting-yeoleumgeul-ssi';
  src: url(./yeoleumgeul-ssi.eot);
  src: local('nanum-handwritting-yeoleumgeul-ssi '),
       local('nanum-handwritting-yeoleumgeul-ssi'),
       url(./yeoleumgeul-ssi.eot?#iefix) format('embedded-opentype'),
       url(./yeoleumgeul-ssi.woff2) format('woff2'),
       url(./yeoleumgeul-ssi.woff) format('woff'),
       
       url(./yeoleumgeul-ssi.ttf) format('truetype'),
       url(./yeoleumgeul-ssi.svg#yeoleumgeul-ssi) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
