
@font-face {
  font-family: '나눔손글씨 아인맘 손글씨';
  src: url(./a-inmam-songeul-ssi.eot);
  src: local('나눔손글씨 아인맘 손글씨 '),
       local('나눔손글씨 아인맘 손글씨'),
       url(./a-inmam-songeul-ssi.eot?#iefix) format('embedded-opentype'),
       url(./a-inmam-songeul-ssi.woff2) format('woff2'),
       url(./a-inmam-songeul-ssi.woff) format('woff'),
       url(./a-inmam-songeul-ssi.ttf) format('truetype'),
       url(./a-inmam-songeul-ssi.otf) format('otf'),
       url(./a-inmam-songeul-ssi.svg#a-inmam-songeul-ssi) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: '나눔손글씨아인맘손글씨';
  src: url(./a-inmam-songeul-ssi.eot);
  src: local('나눔손글씨아인맘손글씨 '),
       local('나눔손글씨아인맘손글씨'),
       url(./a-inmam-songeul-ssi.eot?#iefix) format('embedded-opentype'),
       url(./a-inmam-songeul-ssi.woff2) format('woff2'),
       url(./a-inmam-songeul-ssi.woff) format('woff'),
       url(./a-inmam-songeul-ssi.ttf) format('truetype'),
       url(./a-inmam-songeul-ssi.otf) format('otf'),
       url(./a-inmam-songeul-ssi.svg#a-inmam-songeul-ssi) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'nanum-handwritting-a-inmam-songeul-ssi';
  src: url(./a-inmam-songeul-ssi.eot);
  src: local('nanum-handwritting-a-inmam-songeul-ssi '),
       local('nanum-handwritting-a-inmam-songeul-ssi'),
       url(./a-inmam-songeul-ssi.eot?#iefix) format('embedded-opentype'),
       url(./a-inmam-songeul-ssi.woff2) format('woff2'),
       url(./a-inmam-songeul-ssi.woff) format('woff'),
       url(./a-inmam-songeul-ssi.ttf) format('truetype'),
       url(./a-inmam-songeul-ssi.otf) format('otf'),
       url(./a-inmam-songeul-ssi.svg#a-inmam-songeul-ssi) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
