@font-face {
  font-family: '넥슨 풋볼고딕';
  src: local('넥슨 풋볼고딕'), local('넥슨 풋볼고딕 '), local('NEXON Football Gothic'), local('NEXON Football Gothic '), url(./NEXON_Football_Gothic_L.woff2) format('woff2'), url(./NEXON_Football_Gothic_L.woff) format('woff');
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: '넥슨 풋볼고딕';
  src: local('넥슨 풋볼고딕'), local('넥슨 풋볼고딕 '), local('NEXON Football Gothic'), local('NEXON Football Gothic '), url(./NEXON_Football_Gothic_B.woff2) format('woff2'), url(./NEXON_Football_Gothic_B.woff) format('woff');
  font-display: swap;
  font-weight: 700;
}
