@font-face {
  font-family: '나눔손글씨 힘내라는 말보단';
  src: local('나눔손글씨 힘내라는 말보단'), local('나눔손글씨 힘내라는 말보단 '), local('Nanum HimNaeRaNeunMarBoDan'), local('Nanum HimNaeRaNeunMarBoDan '), url(./himnaelaneun-malbodan.woff2) format('woff2'), url(./himnaelaneun-malbodan.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
