@font-face {
  font-family: '나눔손글씨 따뜻한 작별';
  src: url(./tta-tteushan-jagbyeol.eot);
  src: local('나눔손글씨 따뜻한 작별 '),
       local('나눔손글씨 따뜻한 작별'),
       url(./tta-tteushan-jagbyeol.eot?#iefix) format('embedded-opentype'),
       url(./tta-tteushan-jagbyeol.woff2) format('woff2'),
       url(./tta-tteushan-jagbyeol.woff) format('woff'),
       url(./tta-tteushan-jagbyeol.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: '나눔손글씨따뜻한작별';
  src: url(./tta-tteushan-jagbyeol.eot);
  src: local('나눔손글씨따뜻한작별 '),
       local('나눔손글씨따뜻한작별'),
       url(./tta-tteushan-jagbyeol.eot?#iefix) format('embedded-opentype'),
       url(./tta-tteushan-jagbyeol.woff2) format('woff2'),
       url(./tta-tteushan-jagbyeol.woff) format('woff'),
       url(./tta-tteushan-jagbyeol.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'nanum-handwritting-tta-tteushan-jagbyeol';
  src: url(./tta-tteushan-jagbyeol.eot);
  src: local('nanum-handwritting-tta-tteushan-jagbyeol '),
       local('nanum-handwritting-tta-tteushan-jagbyeol'),
       url(./tta-tteushan-jagbyeol.eot?#iefix) format('embedded-opentype'),
       url(./tta-tteushan-jagbyeol.woff2) format('woff2'),
       url(./tta-tteushan-jagbyeol.woff) format('woff'),
       url(./tta-tteushan-jagbyeol.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
