@font-face {
  font-family: '나눔명조OTF 에코';
  src: url(./NanumMyeongjoEco.eot);
  src: local('나눔명조OTF 에코 '),
       local('나눔명조OTF 에코'),
       url(./NanumMyeongjoEco.eot?#iefix) format('embedded-opentype'),
       url(./NanumMyeongjoEco.woff2) format('woff2'),
       url(./NanumMyeongjoEco.woff) format('woff'),
       url(./NanumMyeongjoEco.otf) format('otf'),
       url(./NanumMyeongjoEco.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: '나눔명조OTF에코';
  src: url(./NanumMyeongjoEco.eot);
  src: local('나눔명조OTF에코 '),
       local('나눔명조OTF에코'),
       url(./NanumMyeongjoEco.eot?#iefix) format('embedded-opentype'),
       url(./NanumMyeongjoEco.woff2) format('woff2'),
       url(./NanumMyeongjoEco.woff) format('woff'),
       url(./NanumMyeongjoEco.otf) format('otf'),
       url(./NanumMyeongjoEco.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'nanum-myeongjo-eco-otf';
  src: url(./NanumMyeongjoEco.eot);
  src: local('nanum-myeongjo-eco-otf '),
       local('nanum-myeongjo-eco-otf'),
       url(./NanumMyeongjoEco.eot?#iefix) format('embedded-opentype'),
       url(./NanumMyeongjoEco.woff2) format('woff2'),
       url(./NanumMyeongjoEco.woff) format('woff'),
       url(./NanumMyeongjoEco.otf) format('otf'),
       url(./NanumMyeongjoEco.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: '나눔명조OTF 에코';
  src: url(./NanumMyeongjoEcoBold.eot);
  src: local('나눔명조OTF 에코 '),
       local('나눔명조OTF 에코'),
       url(./NanumMyeongjoEcoBold.eot?#iefix) format('embedded-opentype'),
       url(./NanumMyeongjoEcoBold.woff2) format('woff2'),
       url(./NanumMyeongjoEcoBold.woff) format('woff'),
       url(./NanumMyeongjoEcoBold.otf) format('otf'),
       url(./NanumMyeongjoEcoBold.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: '나눔명조OTF에코';
  src: url(./NanumMyeongjoEcoBold.eot);
  src: local('나눔명조OTF에코 '),
       local('나눔명조OTF에코'),
       url(./NanumMyeongjoEcoBold.eot?#iefix) format('embedded-opentype'),
       url(./NanumMyeongjoEcoBold.woff2) format('woff2'),
       url(./NanumMyeongjoEcoBold.woff) format('woff'),
       url(./NanumMyeongjoEcoBold.otf) format('otf'),
       url(./NanumMyeongjoEcoBold.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'nanum-myeongjo-eco-otf';
  src: url(./NanumMyeongjoEcoBold.eot);
  src: local('nanum-myeongjo-eco-otf '),
       local('nanum-myeongjo-eco-otf'),
       url(./NanumMyeongjoEcoBold.eot?#iefix) format('embedded-opentype'),
       url(./NanumMyeongjoEcoBold.woff2) format('woff2'),
       url(./NanumMyeongjoEcoBold.woff) format('woff'),
       url(./NanumMyeongjoEcoBold.otf) format('otf'),
       url(./NanumMyeongjoEcoBold.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: '나눔명조OTF 에코';
  src: url(./NanumMyeongjoEcoExtraBold.eot);
  src: local('나눔명조OTF 에코 '),
       local('나눔명조OTF 에코'),
       url(./NanumMyeongjoEcoExtraBold.eot?#iefix) format('embedded-opentype'),
       url(./NanumMyeongjoEcoExtraBold.woff2) format('woff2'),
       url(./NanumMyeongjoEcoExtraBold.woff) format('woff'),
       url(./NanumMyeongjoEcoExtraBold.otf) format('otf'),
       url(./NanumMyeongjoEcoExtraBold.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: '나눔명조OTF에코';
  src: url(./NanumMyeongjoEcoExtraBold.eot);
  src: local('나눔명조OTF에코 '),
       local('나눔명조OTF에코'),
       url(./NanumMyeongjoEcoExtraBold.eot?#iefix) format('embedded-opentype'),
       url(./NanumMyeongjoEcoExtraBold.woff2) format('woff2'),
       url(./NanumMyeongjoEcoExtraBold.woff) format('woff'),
       url(./NanumMyeongjoEcoExtraBold.otf) format('otf'),
       url(./NanumMyeongjoEcoExtraBold.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'nanum-myeongjo-eco-otf';
  src: url(./NanumMyeongjoEcoExtraBold.eot);
  src: local('nanum-myeongjo-eco-otf '),
       local('nanum-myeongjo-eco-otf'),
       url(./NanumMyeongjoEcoExtraBold.eot?#iefix) format('embedded-opentype'),
       url(./NanumMyeongjoEcoExtraBold.woff2) format('woff2'),
       url(./NanumMyeongjoEcoExtraBold.woff) format('woff'),
       url(./NanumMyeongjoEcoExtraBold.otf) format('otf'),
       url(./NanumMyeongjoEcoExtraBold.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}
