
@font-face {
  font-family: '배달의민족 한나체 Air OTF';
  src: url(./BMHANNAAir_otf.eot);
  src: local('배달의민족 한나체 Air OTF '),
       local('배달의민족 한나체 Air OTF'),
       url(./BMHANNAAir_otf.eot?#iefix) format('embedded-opentype'),
       url(./BMHANNAAir_otf.woff2) format('woff2'),
       url(./BMHANNAAir_otf.woff) format('woff'),
       url(./BMHANNAAir_otf.otf) format('otf'),
       url(./BMHANNAAir_otf.ttf) format('truetype'),
       url(./BMHANNAAir_otf.svg#BMHANNAAir_otf) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
