@font-face {
  font-family: '배달의민족 한나체 Air OTF';
  src: local('배달의민족 한나체 Air OTF'), local('배달의민족 한나체 Air OTF '), local('BM HANNA Air OTF'), local('BM HANNA Air OTF '), url(./BMHANNAAir_otf.woff2) format('woff2'), url(./BMHANNAAir_otf.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
