
@font-face {
  font-family: '나눔손글씨 김유이체';
  src: url(./gim-yu-iche.eot);
  src: local('나눔손글씨 김유이체 '),
       local('나눔손글씨 김유이체'),
       url(./gim-yu-iche.eot?#iefix) format('embedded-opentype'),
       url(./gim-yu-iche.ttf) format('truetype'),
       url(./gim-yu-iche.woff) format('woff'),
       url(./gim-yu-iche.woff2) format('woff2'),
       url(./gim-yu-iche.svg#gim-yu-iche) format('svg'),
       url(./gim-yu-iche.otf) format('otf');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
