.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules

.idea

packages/**/*.ttf
packages/**/*.otf
packages/**/*.eot
packages/**/*.svg
packages/**/*.woff
packages/**/*.woff2
!packages/**/src/*.ttf
!packages/**/src/*.otf
