@font-face {
  font-family: '배달의민족 한나는 열한살';
  src: local('배달의민족 한나는 열한살'), local('배달의민족 한나는 열한살 '), local('BM HANNA 11yrs old'), local('BM HANNA 11yrs old '), url(./BMHANNA_11yrs_ttf.woff2) format('woff2'), url(./BMHANNA_11yrs_ttf.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
