@font-face {
  font-family: 'Neo둥근모 Code';
  src: local('Neo둥근모 Code'), local('Neo둥근모 Code '), local('NeoDunggeunmo Code'), local('NeoDunggeunmo Code '), url(./neodgm_code.woff2) format('woff2'), url(./neodgm_code.woff) format('woff');
  font-display: swap;
  font-weight: 300;
}
