@font-face {
  font-family: '배민 을지로10년후체 OTF';
  src: local('배민 을지로10년후체 OTF'), local('배민 을지로10년후체 OTF '), local('BM Euljiro 10 years later OTF'), local('BM Euljiro 10 years later OTF '), url(./BMEuljiro10yearslaterOTF.woff2) format('woff2'), url(./BMEuljiro10yearslaterOTF.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
