
@font-face {
  font-family: '배찌체';
  src: url(./Bazzi.eot);
  src: local('배찌체 '),
       local('배찌체'),
       url(./Bazzi.eot?#iefix) format('embedded-opentype'),
       url(./Bazzi.woff2) format('woff2'),
       url(./Bazzi.woff) format('woff'),
       
       url(./Bazzi.ttf) format('truetype'),
       url(./Bazzi.svg#Bazzi) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'nexon-bazzi';
  src: url(./Bazzi.eot);
  src: local('nexon-bazzi '),
       local('nexon-bazzi'),
       url(./Bazzi.eot?#iefix) format('embedded-opentype'),
       url(./Bazzi.woff2) format('woff2'),
       url(./Bazzi.woff) format('woff'),
       
       url(./Bazzi.ttf) format('truetype'),
       url(./Bazzi.svg#Bazzi) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}
