
@font-face {
  font-family: '나눔손글씨 금은보화';
  src: url(./geum-eunbohwa.eot);
  src: local('나눔손글씨 금은보화 '),
       local('나눔손글씨 금은보화'),
       url(./geum-eunbohwa.eot?#iefix) format('embedded-opentype'),
       url(./geum-eunbohwa.woff2) format('woff2'),
       url(./geum-eunbohwa.woff) format('woff'),
       
       url(./geum-eunbohwa.ttf) format('truetype'),
       url(./geum-eunbohwa.svg#geum-eunbohwa) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: '나눔손글씨 금은보화';
  src: url(./geum-eunbohwa.eot);
  src: local('나눔손글씨 금은보화 '),
       local('나눔손글씨 금은보화'),
       url(./geum-eunbohwa.eot?#iefix) format('embedded-opentype'),
       url(./geum-eunbohwa.woff2) format('woff2'),
       url(./geum-eunbohwa.woff) format('woff'),
       
       url(./geum-eunbohwa.ttf) format('truetype'),
       url(./geum-eunbohwa.svg#geum-eunbohwa) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'nanum-handwritting-geum-eunbohwa';
  src: url(./geum-eunbohwa.eot);
  src: local('nanum-handwritting-geum-eunbohwa '),
       local('nanum-handwritting-geum-eunbohwa'),
       url(./geum-eunbohwa.eot?#iefix) format('embedded-opentype'),
       url(./geum-eunbohwa.woff2) format('woff2'),
       url(./geum-eunbohwa.woff) format('woff'),
       
       url(./geum-eunbohwa.ttf) format('truetype'),
       url(./geum-eunbohwa.svg#geum-eunbohwa) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
