@font-face {
  font-family: '나눔손글씨 금은보화';
  src: local('나눔손글씨 금은보화'), local('나눔손글씨 금은보화 '), local('Nanum GeumEunBoHwa'), local('Nanum GeumEunBoHwa '), url(./geum-eunbohwa.woff2) format('woff2'), url(./geum-eunbohwa.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
