@font-face {
  font-family: 'Neo둥근모';
  src: local('Neo둥근모'), local('Neo둥근모 '), local('NeoDunggeunmo'), local('NeoDunggeunmo '), url(./neodgm.woff2) format('woff2'), url(./neodgm.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
