@font-face {
  font-family: '나눔손글씨 아기사랑체';
  src: local('나눔손글씨 아기사랑체'), local('나눔손글씨 아기사랑체 '), local('Nanum AGiSaRangCe'), local('Nanum AGiSaRangCe '), url(./agisalangche.woff2) format('woff2'), url(./agisalangche.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
