@font-face {
  font-family: '나눔손글씨 범솜체';
  src: url(./beomsomche.eot);
  src: local('나눔손글씨 범솜체 '),
       local('나눔손글씨 범솜체'),
       url(./beomsomche.eot?#iefix) format('embedded-opentype'),
       url(./beomsomche.woff2) format('woff2'),
       url(./beomsomche.woff) format('woff'),
       url(./beomsomche.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: '나눔손글씨범솜체';
  src: url(./beomsomche.eot);
  src: local('나눔손글씨범솜체 '),
       local('나눔손글씨범솜체'),
       url(./beomsomche.eot?#iefix) format('embedded-opentype'),
       url(./beomsomche.woff2) format('woff2'),
       url(./beomsomche.woff) format('woff'),
       url(./beomsomche.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'nanum-handwritting-beomsomche';
  src: url(./beomsomche.eot);
  src: local('nanum-handwritting-beomsomche '),
       local('nanum-handwritting-beomsomche'),
       url(./beomsomche.eot?#iefix) format('embedded-opentype'),
       url(./beomsomche.woff2) format('woff2'),
       url(./beomsomche.woff) format('woff'),
       url(./beomsomche.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
