
@font-face {
  font-family: '나눔손글씨 야채장수 백금례';
  src: url(./yachaejangsu-baeggeumlye.eot);
  src: local('나눔손글씨 야채장수 백금례 '),
       local('나눔손글씨 야채장수 백금례'),
       url(./yachaejangsu-baeggeumlye.eot?#iefix) format('embedded-opentype'),
       url(./yachaejangsu-baeggeumlye.woff2) format('woff2'),
       url(./yachaejangsu-baeggeumlye.woff) format('woff'),
       url(./yachaejangsu-baeggeumlye.ttf) format('truetype'),
       url(./yachaejangsu-baeggeumlye.otf) format('otf'),
       url(./yachaejangsu-baeggeumlye.svg#yachaejangsu-baeggeumlye) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: '나눔손글씨야채장수백금례';
  src: url(./yachaejangsu-baeggeumlye.eot);
  src: local('나눔손글씨야채장수백금례 '),
       local('나눔손글씨야채장수백금례'),
       url(./yachaejangsu-baeggeumlye.eot?#iefix) format('embedded-opentype'),
       url(./yachaejangsu-baeggeumlye.woff2) format('woff2'),
       url(./yachaejangsu-baeggeumlye.woff) format('woff'),
       url(./yachaejangsu-baeggeumlye.ttf) format('truetype'),
       url(./yachaejangsu-baeggeumlye.otf) format('otf'),
       url(./yachaejangsu-baeggeumlye.svg#yachaejangsu-baeggeumlye) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'nanum-handwritting-yachaejangsu-baeggeumlye';
  src: url(./yachaejangsu-baeggeumlye.eot);
  src: local('nanum-handwritting-yachaejangsu-baeggeumlye '),
       local('nanum-handwritting-yachaejangsu-baeggeumlye'),
       url(./yachaejangsu-baeggeumlye.eot?#iefix) format('embedded-opentype'),
       url(./yachaejangsu-baeggeumlye.woff2) format('woff2'),
       url(./yachaejangsu-baeggeumlye.woff) format('woff'),
       url(./yachaejangsu-baeggeumlye.ttf) format('truetype'),
       url(./yachaejangsu-baeggeumlye.otf) format('otf'),
       url(./yachaejangsu-baeggeumlye.svg#yachaejangsu-baeggeumlye) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
