@font-face {
  font-family: '배달의민족 기랑해랑 OTF';
  src: local('배달의민족 기랑해랑 OTF'), local('배달의민족 기랑해랑 OTF '), local('BM KIRANGHAERANG OTF'), local('BM KIRANGHAERANG OTF '), url(./BMKIRANGHAERANG-OTF.woff2) format('woff2'), url(./BMKIRANGHAERANG-OTF.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
