@font-face {
  font-family: '배달의민족 기랑해랑';
  src: local('배달의민족 기랑해랑'), local('배달의민족 기랑해랑 '), local('BM KIRANGHAERANG'), local('BM KIRANGHAERANG '), url(./BMKIRANGHAERANG-TTF.woff2) format('woff2'), url(./BMKIRANGHAERANG-TTF.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
