@font-face {
  font-family: '나눔손글씨 초딩희망';
  src: local('나눔손글씨 초딩희망'), local('나눔손글씨 초딩희망 '), local('Nanum CoDingHeuiMang'), local('Nanum CoDingHeuiMang '), url(./chodinghuimang.woff2) format('woff2'), url(./chodinghuimang.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
