@font-face {
  font-family: '배달의민족 도현 OTF';
  src: local('배달의민족 도현 OTF'), local('배달의민족 도현 OTF '), local('BM DoHyeon OTF'), local('BM DoHyeon OTF '), url(./BMDOHYEON_otf.woff2) format('woff2'), url(./BMDOHYEON_otf.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
