@font-face {
  font-family: '나눔손글씨 세계적인 한글';
  src: local('나눔손글씨 세계적인 한글'), local('나눔손글씨 세계적인 한글 '), local('Nanum SeGyeJeogInHanGeur'), local('Nanum SeGyeJeogInHanGeur '), url(./segyejeog-in-hangeul.woff2) format('woff2'), url(./segyejeog-in-hangeul.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
