@font-face {
  font-family: '학교안심 우산';
  src: local('학교안심 우산'), local('학교안심 우산 '), local('Hakgyoansim Usan'), local('Hakgyoansim Usan '), url(./HakgyoansimUsanR.woff2) format('woff2'), url(./HakgyoansimUsanR.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
