@font-face {
  font-family: '학교안심 뜀틀OTF';
  src: local('학교안심 뜀틀OTF'), local('학교안심 뜀틀OTF '), local('Hakgyoansim TtwimteulOTF'), local('Hakgyoansim TtwimteulOTF '), url(./HakgyoansimTtwimteulOTFR.woff2) format('woff2'), url(./HakgyoansimTtwimteulOTFR.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
