@font-face {
  font-family: '배달의민족 을지로체';
  src: local('배달의민족 을지로체'), local('배달의민족 을지로체 '), local('BM EULJIRO'), local('BM EULJIRO '), url(./BMEULJIRO.woff2) format('woff2'), url(./BMEULJIRO.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
