@font-face {
  font-family: '나눔명조 에코';
  src: local('나눔명조 에코'), local('나눔명조 에코 '), local('NanumMyeongjo Eco'), local('NanumMyeongjo Eco '), url(./NanumMyeongjoEco.woff2) format('woff2'), url(./NanumMyeongjoEco.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: '나눔명조 에코';
  src: local('나눔명조 에코'), local('나눔명조 에코 '), local('NanumMyeongjo Eco'), local('NanumMyeongjo Eco '), url(./NanumMyeongjoEcoBold.woff2) format('woff2'), url(./NanumMyeongjoEcoBold.woff) format('woff');
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: '나눔명조 에코';
  src: local('나눔명조 에코'), local('나눔명조 에코 '), local('NanumMyeongjo Eco'), local('NanumMyeongjo Eco '), url(./NanumMyeongjoEcoExtraBold.woff2) format('woff2'), url(./NanumMyeongjoEcoExtraBold.woff) format('woff');
  font-display: swap;
  font-weight: 800;
}
