@font-face {
  font-family: '배달의민족 연성 OTF';
  src: local('배달의민족 연성 OTF'), local('배달의민족 연성 OTF '), local('BM YEONSUNG OTF'), local('BM YEONSUNG OTF '), url(./BMYEONSUNG_otf.woff2) format('woff2'), url(./BMYEONSUNG_otf.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
