@font-face {
  font-family: '학교안심 사물함OTF';
  src: local('학교안심 사물함OTF'), local('학교안심 사물함OTF '), local('Hakgyoansim SamulhamOTF'), local('Hakgyoansim SamulhamOTF '), url(./HakgyoansimSamulhamOTFR.woff2) format('woff2'), url(./HakgyoansimSamulhamOTFR.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
