@font-face {
  font-family: '나눔명조OTF';
  src: local('나눔명조OTF'), local('나눔명조OTF '), local('NanumMyeongjoOTF'), local('NanumMyeongjoOTF '), url(./NanumMyeongjo.woff2) format('woff2'), url(./NanumMyeongjo.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: '나눔명조OTF';
  src: local('나눔명조OTF'), local('나눔명조OTF '), local('NanumMyeongjoOTF'), local('NanumMyeongjoOTF '), url(./NanumMyeongjoBold.woff2) format('woff2'), url(./NanumMyeongjoBold.woff) format('woff');
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: '나눔명조OTF';
  src: local('나눔명조OTF'), local('나눔명조OTF '), local('NanumMyeongjoOTF'), local('NanumMyeongjoOTF '), url(./NanumMyeongjoExtraBold.woff2) format('woff2'), url(./NanumMyeongjoExtraBold.woff) format('woff');
  font-display: swap;
  font-weight: 800;
}
