
@font-face {
  font-family: '나눔명조OTF';
  src: url(./NanumMyeongjo.eot);
  src: local('나눔명조OTF '),
       local('나눔명조OTF'),
       url(./NanumMyeongjo.eot?#iefix) format('embedded-opentype'),
       url(./NanumMyeongjo.woff2) format('woff2'),
       url(./NanumMyeongjo.woff) format('woff'),
       url(./NanumMyeongjo.otf) format('otf'),
       url(./NanumMyeongjo.ttf) format('truetype'),
       url(./NanumMyeongjo.svg#NanumMyeongjo) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: '나눔명조OTF';
  src: url(./NanumMyeongjoBold.eot);
  src: local('나눔명조OTF '),
       local('나눔명조OTF'),
       url(./NanumMyeongjoBold.eot?#iefix) format('embedded-opentype'),
       url(./NanumMyeongjoBold.woff2) format('woff2'),
       url(./NanumMyeongjoBold.woff) format('woff'),
       url(./NanumMyeongjoBold.otf) format('otf'),
       url(./NanumMyeongjoBold.ttf) format('truetype'),
       url(./NanumMyeongjoBold.svg#NanumMyeongjoBold) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: '나눔명조OTF';
  src: url(./NanumMyeongjoExtraBold.eot);
  src: local('나눔명조OTF '),
       local('나눔명조OTF'),
       url(./NanumMyeongjoExtraBold.eot?#iefix) format('embedded-opentype'),
       url(./NanumMyeongjoExtraBold.woff2) format('woff2'),
       url(./NanumMyeongjoExtraBold.woff) format('woff'),
       url(./NanumMyeongjoExtraBold.otf) format('otf'),
       url(./NanumMyeongjoExtraBold.ttf) format('truetype'),
       url(./NanumMyeongjoExtraBold.svg#NanumMyeongjoExtraBold) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}
