@font-face {
  font-family: 'D2Coding ligature';
  src: local('D2Coding ligature'), local('D2Coding ligature '), url(./D2Coding-ligature.woff2) format('woff2'), url(./D2Coding-ligature.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: 'D2Coding ligature';
  src: local('D2Coding ligature'), local('D2Coding ligature '), url(./D2CodingBold-ligature.woff2) format('woff2'), url(./D2CodingBold-ligature.woff) format('woff');
  font-display: swap;
  font-weight: 700;
}
