
@font-face {
  font-family: '나눔손글씨 혜준체';
  src: url(./hyejunche.eot);
  src: local('나눔손글씨 혜준체 '),
       local('나눔손글씨 혜준체'),
       url(./hyejunche.eot?#iefix) format('embedded-opentype'),
       url(./hyejunche.woff2) format('woff2'),
       url(./hyejunche.woff) format('woff'),
       url(./hyejunche.ttf) format('truetype'),
       url(./hyejunche.otf) format('otf'),
       url(./hyejunche.svg#hyejunche) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
