@font-face {
  font-family: '학교안심 꽈배기';
  src: local('학교안심 꽈배기'), local('학교안심 꽈배기 '), local('Hakgyoansim Kkwabaegi'), local('Hakgyoansim Kkwabaegi '), url(./HakgyoansimKkwabaegiR.woff2) format('woff2'), url(./HakgyoansimKkwabaegiR.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
