
@font-face {
  font-family: '배달의민족 을지로체 TTF';
  src: url(./BMEULJIROTTF.eot);
  src: local('배달의민족 을지로체 TTF '),
       local('배달의민족 을지로체 TTF'),
       url(./BMEULJIROTTF.eot?#iefix) format('embedded-opentype'),
       url(./BMEULJIROTTF.ttf) format('truetype'),
       url(./BMEULJIROTTF.woff) format('woff'),
       url(./BMEULJIROTTF.woff2) format('woff2'),
       url(./BMEULJIROTTF.svg#BMEULJIROTTF) format('svg'),
       url(./BMEULJIROTTF.otf) format('otf');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
