@font-face {
  font-family: '배달의민족 을지로체 TTF';
  src: local('배달의민족 을지로체 TTF'), local('배달의민족 을지로체 TTF '), local('BM EULJIRO TTF'), local('BM EULJIRO TTF '), url(./BMEULJIROTTF.woff2) format('woff2'), url(./BMEULJIROTTF.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
