@font-face {
  font-family: '배달의민족 한나체 Pro';
  src: local('배달의민족 한나체 Pro'), local('배달의민족 한나체 Pro '), local('BM HANNA Pro'), local('BM HANNA Pro '), url(./BMHANNAPro.woff2) format('woff2'), url(./BMHANNAPro.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
