@font-face {
  font-family: '학교안심 콧수염';
  src: local('학교안심 콧수염'), local('학교안심 콧수염 '), local('Hakgyoansim Kossuyeom'), local('Hakgyoansim Kossuyeom '), url(./HakgyoansimKossuyeomR.woff2) format('woff2'), url(./HakgyoansimKossuyeomR.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
