@font-face {
  font-family: '배달의민족 주아 OTF';
  src: local('배달의민족 주아 OTF'), local('배달의민족 주아 OTF '), local('BM JUA_OTF'), local('BM JUA_OTF '), local('BM JUA OTF'), local('BM JUA OTF '), url(./BMJUA_otf.woff2) format('woff2'), url(./BMJUA_otf.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
