
@font-face {
  font-family: '배달의민족 주아 OTF';
  src: url(./BMJUA_otf.eot);
  src: local('배달의민족 주아 OTF '),
       local('배달의민족 주아 OTF'),
       url(./BMJUA_otf.eot?#iefix) format('embedded-opentype'),
       url(./BMJUA_otf.ttf) format('truetype'),
       url(./BMJUA_otf.woff) format('woff'),
       url(./BMJUA_otf.woff2) format('woff2'),
       url(./BMJUA_otf.svg#BMJUA_otf) format('svg'),
       url(./BMJUA_otf.otf) format('otf');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
