
@font-face {
  font-family: '나눔손글씨 곰신체';
  src: url(./gomsinche.eot);
  src: local('나눔손글씨 곰신체 '),
       local('나눔손글씨 곰신체'),
       url(./gomsinche.eot?#iefix) format('embedded-opentype'),
       url(./gomsinche.woff2) format('woff2'),
       url(./gomsinche.woff) format('woff'),
       url(./gomsinche.ttf) format('truetype'),
       url(./gomsinche.otf) format('otf'),
       url(./gomsinche.svg#gomsinche) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
