
@font-face {
  font-family: '빙그레체Ⅱ';
  src: url(./Binggrae2.eot);
  src: local('빙그레체Ⅱ '),
       local('빙그레체Ⅱ'),
       url(./Binggrae2.eot?#iefix) format('embedded-opentype'),
       url(./Binggrae2.woff2) format('woff2'),
       url(./Binggrae2.woff) format('woff'),
       url(./Binggrae2.ttf) format('truetype'),
       url(./Binggrae2.otf) format('otf'),
       url(./Binggrae2.svg#Binggrae2) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: '빙그레체Ⅱ';
  src: url(./Binggrae2-Bold.eot);
  src: local('빙그레체Ⅱ '),
       local('빙그레체Ⅱ'),
       url(./Binggrae2-Bold.eot?#iefix) format('embedded-opentype'),
       url(./Binggrae2-Bold.woff2) format('woff2'),
       url(./Binggrae2-Bold.woff) format('woff'),
       url(./Binggrae2-Bold.ttf) format('truetype'),
       url(./Binggrae2-Bold.otf) format('otf'),
       url(./Binggrae2-Bold.svg#Binggrae2-Bold) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
