
@font-face {
  font-family: '나눔바른펜';
  src: url(./NanumBarunpenR.eot);
  src: local('나눔바른펜 '),
       local('나눔바른펜'),
       url(./NanumBarunpenR.eot?#iefix) format('embedded-opentype'),
       url(./NanumBarunpenR.woff2) format('woff2'),
       url(./NanumBarunpenR.woff) format('woff'),
       url(./NanumBarunpenR.ttf) format('truetype'),
       url(./NanumBarunpenR.otf) format('otf'),
       url(./NanumBarunpenR.svg#NanumBarunpenR) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: '나눔바른펜';
  src: url(./NanumBarunpenB.eot);
  src: local('나눔바른펜 '),
       local('나눔바른펜'),
       url(./NanumBarunpenB.eot?#iefix) format('embedded-opentype'),
       url(./NanumBarunpenB.woff2) format('woff2'),
       url(./NanumBarunpenB.woff) format('woff'),
       url(./NanumBarunpenB.ttf) format('truetype'),
       url(./NanumBarunpenB.otf) format('otf'),
       url(./NanumBarunpenB.svg#NanumBarunpenB) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
