@font-face {
  font-family: '학교안심 몽글몽글OTF';
  src: local('학교안심 몽글몽글OTF'), local('학교안심 몽글몽글OTF '), local('Hakgyoansim MonggeulmonggeulOTF'), local('Hakgyoansim MonggeulmonggeulOTF '), url(./HakgyoansimMonggeulmonggeulOTFR.woff2) format('woff2'), url(./HakgyoansimMonggeulmonggeulOTFR.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
