@font-face {
  font-family: '나눔바른고딕';
  src: local('나눔바른고딕'), local('나눔바른고딕 '), local('NanumBarunGothic'), local('NanumBarunGothic '), url(./NanumBarunGothic.woff2) format('woff2'), url(./NanumBarunGothic.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: '나눔바른고딕';
  src: local('나눔바른고딕'), local('나눔바른고딕 '), local('NanumBarunGothic'), local('NanumBarunGothic '), url(./NanumBarunGothicBold.woff2) format('woff2'), url(./NanumBarunGothicBold.woff) format('woff');
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: '나눔바른고딕';
  src: local('나눔바른고딕'), local('나눔바른고딕 '), local('NanumBarunGothic'), local('NanumBarunGothic '), url(./NanumBarunGothicLight.woff2) format('woff2'), url(./NanumBarunGothicLight.woff) format('woff');
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: '나눔바른고딕';
  src: local('나눔바른고딕'), local('나눔바른고딕 '), local('NanumBarunGothic'), local('NanumBarunGothic '), url(./NanumBarunGothicUltraLight.woff2) format('woff2'), url(./NanumBarunGothicUltraLight.woff) format('woff');
  font-display: swap;
  font-weight: 200;
}
