@font-face {
  font-family: '학교안심 꼬꼬마OTF';
  src: local('학교안심 꼬꼬마OTF'), local('학교안심 꼬꼬마OTF '), local('Hakgyoansim KkokkomaOTF'), local('Hakgyoansim KkokkomaOTF '), url(./HakgyoansimKkokkomaOTFR.woff2) format('woff2'), url(./HakgyoansimKkokkomaOTFR.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
