@font-face {
  font-family: '배달의민족 주아';
  src: local('배달의민족 주아'), local('배달의민족 주아 '), local('BM JUA'), local('BM JUA '), url(./BMJUA_ttf.woff2) format('woff2'), url(./BMJUA_ttf.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
