@font-face {
  font-family: '나눔명조';
  src: local('나눔명조'), local('나눔명조 '), local('NanumMyeongjo'), local('NanumMyeongjo '), url(./NanumMyeongjo.woff2) format('woff2'), url(./NanumMyeongjo.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: '나눔명조';
  src: local('나눔명조'), local('나눔명조 '), local('NanumMyeongjo'), local('NanumMyeongjo '), url(./NanumMyeongjoBold.woff2) format('woff2'), url(./NanumMyeongjoBold.woff) format('woff');
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: '나눔명조';
  src: local('나눔명조'), local('나눔명조 '), local('NanumMyeongjo'), local('NanumMyeongjo '), url(./NanumMyeongjoExtraBold.woff2) format('woff2'), url(./NanumMyeongjoExtraBold.woff) format('woff');
  font-display: swap;
  font-weight: 800;
}
