@font-face {
  font-family: '나눔바른펜OTF';
  src: local('나눔바른펜OTF'), local('나눔바른펜OTF '), local('NanumBarunpenOTF'), local('NanumBarunpenOTF '), url(./NanumBarunpenR.woff2) format('woff2'), url(./NanumBarunpenR.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: '나눔바른펜OTF';
  src: local('나눔바른펜OTF'), local('나눔바른펜OTF '), local('NanumBarunpenOTF'), local('NanumBarunpenOTF '), url(./NanumBarunpenB.woff2) format('woff2'), url(./NanumBarunpenB.woff) format('woff');
  font-display: swap;
  font-weight: 700;
}
