@font-face {
  font-family: '배달의민족 한나는 열한살 OTF';
  src: local('배달의민족 한나는 열한살 OTF'), local('배달의민족 한나는 열한살 OTF '), local('BM HANNA 11yrs old OTF'), local('BM HANNA 11yrs old OTF '), url(./BMHANNA_11yrs_otf.woff2) format('woff2'), url(./BMHANNA_11yrs_otf.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
