@font-face {
  font-family: '나눔고딕OTF';
  src: local('나눔고딕OTF'), local('나눔고딕OTF '), local('NanumGothicOTF'), local('NanumGothicOTF '), url(./NanumGothic.woff2) format('woff2'), url(./NanumGothic.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: '나눔고딕OTF';
  src: local('나눔고딕OTF'), local('나눔고딕OTF '), local('NanumGothicOTF'), local('NanumGothicOTF '), url(./NanumGothicLight.woff2) format('woff2'), url(./NanumGothicLight.woff) format('woff');
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: '나눔고딕OTF';
  src: local('나눔고딕OTF'), local('나눔고딕OTF '), local('NanumGothicOTF'), local('NanumGothicOTF '), url(./NanumGothicBold.woff2) format('woff2'), url(./NanumGothicBold.woff) format('woff');
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: '나눔고딕OTF';
  src: local('나눔고딕OTF'), local('나눔고딕OTF '), local('NanumGothicOTF'), local('NanumGothicOTF '), url(./NanumGothicExtraBold.woff2) format('woff2'), url(./NanumGothicExtraBold.woff) format('woff');
  font-display: swap;
  font-weight: 800;
}
