
@font-face {
  font-family: '나눔손글씨 가람연꽃';
  src: url(./galam-yeonkkoch.eot);
  src: local('나눔손글씨 가람연꽃 '),
       local('나눔손글씨 가람연꽃'),
       url(./galam-yeonkkoch.eot?#iefix) format('embedded-opentype'),
       url(./galam-yeonkkoch.woff2) format('woff2'),
       url(./galam-yeonkkoch.woff) format('woff'),
       url(./galam-yeonkkoch.ttf) format('truetype'),
       url(./galam-yeonkkoch.otf) format('otf'),
       url(./galam-yeonkkoch.svg#galam-yeonkkoch) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
