@font-face {
  font-family: '배달의민족 연성';
  src: local('배달의민족 연성'), local('배달의민족 연성 '), local('BM YEONSUNG'), local('BM YEONSUNG '), url(./BMYEONSUNG_ttf.woff2) format('woff2'), url(./BMYEONSUNG_ttf.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
