@font-face {
  font-family: '나눔명조 옛한글';
  src: local('나눔명조 옛한글'), local('나눔명조 옛한글 '), local('NanumMyeongjo YetHangul'), local('NanumMyeongjo YetHangul '), url(./NanumMyeongjo-YetHangul.woff2) format('woff2'), url(./NanumMyeongjo-YetHangul.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
