@font-face {
  font-family: '배민 을지로10년후체';
  src: local('배민 을지로10년후체'), local('배민 을지로10년후체 '), local('BM Euljiro 10 years later'), local('BM Euljiro 10 years later '), url(./BMEuljiro10yearslater.woff2) format('woff2'), url(./BMEuljiro10yearslater.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
