@font-face {
  font-family: '학교안심 소나기';
  src: local('학교안심 소나기'), local('학교안심 소나기 '), local('Hakgyoansim Sonagi'), local('Hakgyoansim Sonagi '), url(./HakgyoansimSonagiR.woff2) format('woff2'), url(./HakgyoansimSonagiR.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
