@font-face {
  font-family: '나눔손글씨 대광유리';
  src: local('나눔손글씨 대광유리'), local('나눔손글씨 대광유리 '), local('Nanum DaeGwangYuRi'), local('Nanum DaeGwangYuRi '), url(./daegwang-yuli.woff2) format('woff2'), url(./daegwang-yuli.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
