
@font-face {
  font-family: '나눔손글씨 대광유리';
  src: url(./daegwang-yuli.eot);
  src: local('나눔손글씨 대광유리 '),
       local('나눔손글씨 대광유리'),
       url(./daegwang-yuli.eot?#iefix) format('embedded-opentype'),
       url(./daegwang-yuli.woff2) format('woff2'),
       url(./daegwang-yuli.woff) format('woff'),
       url(./daegwang-yuli.ttf) format('truetype'),
       url(./daegwang-yuli.otf) format('otf'),
       url(./daegwang-yuli.svg#daegwang-yuli) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
