@font-face {
  font-family: '학교안심 마법사OTF';
  src: local('학교안심 마법사OTF'), local('학교안심 마법사OTF '), local('Hakgyoansim MabeopsaOTF'), local('Hakgyoansim MabeopsaOTF '), url(./HakgyoansimMabeopsaOTFR.woff2) format('woff2'), url(./HakgyoansimMabeopsaOTFR.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
