@font-face {
  font-family: '넥슨Lv1고딕';
  src: local('넥슨Lv1고딕'), local('넥슨Lv1고딕 '), local('NEXON Lv1 Gothic'), local('NEXON Lv1 Gothic '), url(./NEXONLv1GothicLight.woff2) format('woff2'), url(./NEXONLv1GothicLight.woff) format('woff');
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: '넥슨Lv1고딕';
  src: local('넥슨Lv1고딕'), local('넥슨Lv1고딕 '), local('NEXON Lv1 Gothic'), local('NEXON Lv1 Gothic '), url(./NEXONLv1GothicRegular.woff2) format('woff2'), url(./NEXONLv1GothicRegular.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: '넥슨Lv1고딕';
  src: local('넥슨Lv1고딕'), local('넥슨Lv1고딕 '), local('NEXON Lv1 Gothic'), local('NEXON Lv1 Gothic '), url(./NEXONLv1GothicBold.woff2) format('woff2'), url(./NEXONLv1GothicBold.woff) format('woff');
  font-display: swap;
  font-weight: 700;
}
