@font-face {
  font-family: '넥슨Lv2고딕';
  src: local('넥슨Lv2고딕'), local('넥슨Lv2고딕 '), local('NEXON Lv2 Gothic'), local('NEXON Lv2 Gothic '), url(./NEXON_Lv2_Gothic_Light.woff2) format('woff2'), url(./NEXON_Lv2_Gothic_Light.woff) format('woff');
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: '넥슨Lv2고딕';
  src: local('넥슨Lv2고딕'), local('넥슨Lv2고딕 '), local('NEXON Lv2 Gothic'), local('NEXON Lv2 Gothic '), url(./NEXON_Lv2_Gothic.woff2) format('woff2'), url(./NEXON_Lv2_Gothic.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: '넥슨Lv2고딕';
  src: local('넥슨Lv2고딕'), local('넥슨Lv2고딕 '), local('NEXON Lv2 Gothic'), local('NEXON Lv2 Gothic '), url(./NEXON_Lv2_Gothic_Medium.woff2) format('woff2'), url(./NEXON_Lv2_Gothic_Medium.woff) format('woff');
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: '넥슨Lv2고딕';
  src: local('넥슨Lv2고딕'), local('넥슨Lv2고딕 '), local('NEXON Lv2 Gothic'), local('NEXON Lv2 Gothic '), url(./NEXON_Lv2_Gothic_Bold.woff2) format('woff2'), url(./NEXON_Lv2_Gothic_Bold.woff) format('woff');
  font-display: swap;
  font-weight: 700;
}
