@font-face {
  font-family: '배달의민족 한나체 Air';
  src: local('배달의민족 한나체 Air'), local('배달의민족 한나체 Air '), local('BM HANNA Air'), local('BM HANNA Air '), url(./BMHANNAAir_ttf.woff2) format('woff2'), url(./BMHANNAAir_ttf.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
