@font-face {
  font-family: '메이플스토리 OTF';
  src: local('메이플스토리 OTF'), local('메이플스토리 OTF '), local('Maplestory OTF'), local('Maplestory OTF '), url(./Maplestory_OTF_Light.woff2) format('woff2'), url(./Maplestory_OTF_Light.woff) format('woff');
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: '메이플스토리 OTF';
  src: local('메이플스토리 OTF'), local('메이플스토리 OTF '), local('Maplestory OTF'), local('Maplestory OTF '), url(./Maplestory_OTF_Bold.woff2) format('woff2'), url(./Maplestory_OTF_Bold.woff) format('woff');
  font-display: swap;
  font-weight: 700;
}
