@font-face {
  font-family: '나눔손글씨 효남 늘 화이팅';
  src: url(./hyonam-neul-hwa-iting.eot);
  src: local('나눔손글씨 효남 늘 화이팅 '),
       local('나눔손글씨 효남 늘 화이팅'),
       url(./hyonam-neul-hwa-iting.eot?#iefix) format('embedded-opentype'),
       url(./hyonam-neul-hwa-iting.woff2) format('woff2'),
       url(./hyonam-neul-hwa-iting.woff) format('woff'),
       url(./hyonam-neul-hwa-iting.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: '나눔손글씨효남늘화이팅';
  src: url(./hyonam-neul-hwa-iting.eot);
  src: local('나눔손글씨효남늘화이팅 '),
       local('나눔손글씨효남늘화이팅'),
       url(./hyonam-neul-hwa-iting.eot?#iefix) format('embedded-opentype'),
       url(./hyonam-neul-hwa-iting.woff2) format('woff2'),
       url(./hyonam-neul-hwa-iting.woff) format('woff'),
       url(./hyonam-neul-hwa-iting.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'nanum-handwritting-hyonam-neul-hwa-iting';
  src: url(./hyonam-neul-hwa-iting.eot);
  src: local('nanum-handwritting-hyonam-neul-hwa-iting '),
       local('nanum-handwritting-hyonam-neul-hwa-iting'),
       url(./hyonam-neul-hwa-iting.eot?#iefix) format('embedded-opentype'),
       url(./hyonam-neul-hwa-iting.woff2) format('woff2'),
       url(./hyonam-neul-hwa-iting.woff) format('woff'),
       url(./hyonam-neul-hwa-iting.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
