@font-face {
  font-family: '나눔손글씨 효남 늘 화이팅';
  src: local('나눔손글씨 효남 늘 화이팅'), local('나눔손글씨 효남 늘 화이팅 '), local('Nanum HyoNamNeurHwaITing'), local('Nanum HyoNamNeurHwaITing '), url(./hyonam-neul-hwa-iting.woff2) format('woff2'), url(./hyonam-neul-hwa-iting.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
