@font-face {
  font-family: '나눔손글씨 또박또박';
  src: local('나눔손글씨 또박또박'), local('나눔손글씨 또박또박 '), local('Nanum DdoBagDdoBag'), local('Nanum DdoBagDdoBag '), url(./ttobagttobag.woff2) format('woff2'), url(./ttobagttobag.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
