@font-face {
  font-family: '나눔손글씨 성실체';
  src: local('나눔손글씨 성실체'), local('나눔손글씨 성실체 '), local('Nanum SeongSirCe'), local('Nanum SeongSirCe '), url(./seongsilche.woff2) format('woff2'), url(./seongsilche.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
