
@font-face {
  font-family: '나눔손글씨 몽돌';
  src: url(./mongdol.eot);
  src: local('나눔손글씨 몽돌 '),
       local('나눔손글씨 몽돌'),
       url(./mongdol.eot?#iefix) format('embedded-opentype'),
       url(./mongdol.woff2) format('woff2'),
       url(./mongdol.woff) format('woff'),
       
       url(./mongdol.ttf) format('truetype'),
       url(./mongdol.svg#mongdol) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: '나눔손글씨 몽돌';
  src: url(./mongdol.eot);
  src: local('나눔손글씨 몽돌 '),
       local('나눔손글씨 몽돌'),
       url(./mongdol.eot?#iefix) format('embedded-opentype'),
       url(./mongdol.woff2) format('woff2'),
       url(./mongdol.woff) format('woff'),
       
       url(./mongdol.ttf) format('truetype'),
       url(./mongdol.svg#mongdol) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'nanum-handwritting-mongdol';
  src: url(./mongdol.eot);
  src: local('nanum-handwritting-mongdol '),
       local('nanum-handwritting-mongdol'),
       url(./mongdol.eot?#iefix) format('embedded-opentype'),
       url(./mongdol.woff2) format('woff2'),
       url(./mongdol.woff) format('woff'),
       
       url(./mongdol.ttf) format('truetype'),
       url(./mongdol.svg#mongdol) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
