@font-face {
  font-family: '나눔손글씨 몽돌';
  src: local('나눔손글씨 몽돌'), local('나눔손글씨 몽돌 '), local('Nanum MongDor'), local('Nanum MongDor '), url(./mongdol.woff2) format('woff2'), url(./mongdol.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
