@font-face {
  font-family: '학교안심 운동장OTF';
  src: local('학교안심 운동장OTF'), local('학교안심 운동장OTF '), local('Hakgyoansim UndongjangOTF'), local('Hakgyoansim UndongjangOTF '), url(./HakgyoansimUndongjangOTFL.woff2) format('woff2'), url(./HakgyoansimUndongjangOTFL.woff) format('woff');
  font-display: swap;
  font-weight: 300;
}
