
@font-face {
  font-family: '나눔손글씨 칼국수';
  src: url(./kalgugsu.eot);
  src: local('나눔손글씨 칼국수 '),
       local('나눔손글씨 칼국수'),
       url(./kalgugsu.eot?#iefix) format('embedded-opentype'),
       url(./kalgugsu.woff2) format('woff2'),
       url(./kalgugsu.woff) format('woff'),
       url(./kalgugsu.ttf) format('truetype'),
       url(./kalgugsu.otf) format('otf'),
       url(./kalgugsu.svg#kalgugsu) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
