@font-face {
  font-family: '학교안심 리코더';
  src: local('학교안심 리코더'), local('학교안심 리코더 '), local('Hakgyoansim Rikodeo'), local('Hakgyoansim Rikodeo '), url(./HakgyoansimRikodeoR.woff2) format('woff2'), url(./HakgyoansimRikodeoR.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
