@font-face {
  font-family: 'D2Coding';
  src: local('D2Coding'), local('D2Coding '), url(./D2Coding.woff2) format('woff2'), url(./D2Coding.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: 'D2Coding';
  src: local('D2Coding'), local('D2Coding '), url(./D2CodingBold.woff2) format('woff2'), url(./D2CodingBold.woff) format('woff');
  font-display: swap;
  font-weight: 700;
}
