@font-face {
  font-family: '나눔스퀘어OTF';
  src: local('나눔스퀘어OTF'), local('나눔스퀘어OTF '), local('NanumSquareOTF'), local('NanumSquareOTF '), url(./NanumSquareR.woff2) format('woff2'), url(./NanumSquareR.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: '나눔스퀘어OTF';
  src: local('나눔스퀘어OTF'), local('나눔스퀘어OTF '), local('NanumSquareOTF'), local('NanumSquareOTF '), url(./NanumSquareL.woff2) format('woff2'), url(./NanumSquareL.woff) format('woff');
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: '나눔스퀘어OTF';
  src: local('나눔스퀘어OTF'), local('나눔스퀘어OTF '), local('NanumSquareOTF'), local('NanumSquareOTF '), url(./NanumSquareB.woff2) format('woff2'), url(./NanumSquareB.woff) format('woff');
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: '나눔스퀘어OTF';
  src: local('나눔스퀘어OTF'), local('나눔스퀘어OTF '), local('NanumSquareOTF'), local('NanumSquareOTF '), url(./NanumSquareEB.woff2) format('woff2'), url(./NanumSquareEB.woff) format('woff');
  font-display: swap;
  font-weight: 800;
}
