@font-face {
  font-family: '나눔스퀘어OTF';
  src: url(./NanumSquareR.eot);
  src: local('나눔스퀘어OTF '),
       local('나눔스퀘어OTF'),
       url(./NanumSquareR.eot?#iefix) format('embedded-opentype'),
       url(./NanumSquareR.woff2) format('woff2'),
       url(./NanumSquareR.woff) format('woff'),
       url(./NanumSquareR.otf) format('otf'),
       url(./NanumSquareR.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'nanum-square-otf';
  src: url(./NanumSquareR.eot);
  src: local('nanum-square-otf '),
       local('nanum-square-otf'),
       url(./NanumSquareR.eot?#iefix) format('embedded-opentype'),
       url(./NanumSquareR.woff2) format('woff2'),
       url(./NanumSquareR.woff) format('woff'),
       url(./NanumSquareR.otf) format('otf'),
       url(./NanumSquareR.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: '나눔스퀘어OTF';
  src: url(./NanumSquareL.eot);
  src: local('나눔스퀘어OTF '),
       local('나눔스퀘어OTF'),
       url(./NanumSquareL.eot?#iefix) format('embedded-opentype'),
       url(./NanumSquareL.woff2) format('woff2'),
       url(./NanumSquareL.woff) format('woff'),
       url(./NanumSquareL.otf) format('otf'),
       url(./NanumSquareL.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'nanum-square-otf';
  src: url(./NanumSquareL.eot);
  src: local('nanum-square-otf '),
       local('nanum-square-otf'),
       url(./NanumSquareL.eot?#iefix) format('embedded-opentype'),
       url(./NanumSquareL.woff2) format('woff2'),
       url(./NanumSquareL.woff) format('woff'),
       url(./NanumSquareL.otf) format('otf'),
       url(./NanumSquareL.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: '나눔스퀘어OTF';
  src: url(./NanumSquareB.eot);
  src: local('나눔스퀘어OTF '),
       local('나눔스퀘어OTF'),
       url(./NanumSquareB.eot?#iefix) format('embedded-opentype'),
       url(./NanumSquareB.woff2) format('woff2'),
       url(./NanumSquareB.woff) format('woff'),
       url(./NanumSquareB.otf) format('otf'),
       url(./NanumSquareB.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'nanum-square-otf';
  src: url(./NanumSquareB.eot);
  src: local('nanum-square-otf '),
       local('nanum-square-otf'),
       url(./NanumSquareB.eot?#iefix) format('embedded-opentype'),
       url(./NanumSquareB.woff2) format('woff2'),
       url(./NanumSquareB.woff) format('woff'),
       url(./NanumSquareB.otf) format('otf'),
       url(./NanumSquareB.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: '나눔스퀘어OTF';
  src: url(./NanumSquareEB.eot);
  src: local('나눔스퀘어OTF '),
       local('나눔스퀘어OTF'),
       url(./NanumSquareEB.eot?#iefix) format('embedded-opentype'),
       url(./NanumSquareEB.woff2) format('woff2'),
       url(./NanumSquareEB.woff) format('woff'),
       url(./NanumSquareEB.otf) format('otf'),
       url(./NanumSquareEB.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'nanum-square-otf';
  src: url(./NanumSquareEB.eot);
  src: local('nanum-square-otf '),
       local('nanum-square-otf'),
       url(./NanumSquareEB.eot?#iefix) format('embedded-opentype'),
       url(./NanumSquareEB.woff2) format('woff2'),
       url(./NanumSquareEB.woff) format('woff'),
       url(./NanumSquareEB.otf) format('otf'),
       url(./NanumSquareEB.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}
