@font-face {
  font-family: '학교안심 우주';
  src: local('학교안심 우주'), local('학교안심 우주 '), local('Hakgyoansim Wooju'), local('Hakgyoansim Wooju '), url(./HakgyoansimWoojuR.woff2) format('woff2'), url(./HakgyoansimWoojuR.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
