@font-face {
  font-family: '학교안심 봄방학';
  src: local('학교안심 봄방학'), local('학교안심 봄방학 '), local('Hakgyoansim Bombanghak'), local('Hakgyoansim Bombanghak '), url(./HakgyoansimBombanghakR.woff2) format('woff2'), url(./HakgyoansimBombanghakR.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
