@font-face {
  font-family: '나눔손글씨 하람체';
  src: local('나눔손글씨 하람체'), local('나눔손글씨 하람체 '), local('Nanum HaRamCe'), local('Nanum HaRamCe '), url(./halamche.woff2) format('woff2'), url(./halamche.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
