@font-face {
  font-family: '나눔손글씨 엄마사랑';
  src: url(./eommasalang.eot);
  src: local('나눔손글씨 엄마사랑 '),
       local('나눔손글씨 엄마사랑'),
       url(./eommasalang.eot?#iefix) format('embedded-opentype'),
       url(./eommasalang.woff2) format('woff2'),
       url(./eommasalang.woff) format('woff'),
       url(./eommasalang.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: '나눔손글씨엄마사랑';
  src: url(./eommasalang.eot);
  src: local('나눔손글씨엄마사랑 '),
       local('나눔손글씨엄마사랑'),
       url(./eommasalang.eot?#iefix) format('embedded-opentype'),
       url(./eommasalang.woff2) format('woff2'),
       url(./eommasalang.woff) format('woff'),
       url(./eommasalang.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'nanum-handwritting-eommasalang';
  src: url(./eommasalang.eot);
  src: local('nanum-handwritting-eommasalang '),
       local('nanum-handwritting-eommasalang'),
       url(./eommasalang.eot?#iefix) format('embedded-opentype'),
       url(./eommasalang.woff2) format('woff2'),
       url(./eommasalang.woff) format('woff'),
       url(./eommasalang.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
