
@font-face {
  font-family: '나눔손글씨 갈맷글';
  src: url(./galmaesgeul.eot);
  src: local('나눔손글씨 갈맷글 '),
       local('나눔손글씨 갈맷글'),
       url(./galmaesgeul.eot?#iefix) format('embedded-opentype'),
       url(./galmaesgeul.ttf) format('truetype'),
       url(./galmaesgeul.woff) format('woff'),
       url(./galmaesgeul.woff2) format('woff2'),
       url(./galmaesgeul.svg#galmaesgeul) format('svg'),
       url(./galmaesgeul.otf) format('otf');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
