@font-face {
  font-family: '나눔손글씨 동화또박';
  src: local('나눔손글씨 동화또박'), local('나눔손글씨 동화또박 '), local('Nanum DongHwaDdoBag'), local('Nanum DongHwaDdoBag '), url(./donghwa-ttobag.woff2) format('woff2'), url(./donghwa-ttobag.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
