@font-face {
  font-family: '나눔손글씨 동화또박';
  src: url(./donghwa-ttobag.eot);
  src: local('나눔손글씨 동화또박 '),
       local('나눔손글씨 동화또박'),
       url(./donghwa-ttobag.eot?#iefix) format('embedded-opentype'),
       url(./donghwa-ttobag.woff2) format('woff2'),
       url(./donghwa-ttobag.woff) format('woff'),
       
       url(./donghwa-ttobag.ttf) format('truetype'),
       url(./donghwa-ttobag.svg#donghwa-ttobag) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: '나눔손글씨 동화또박';
  src: url(./donghwa-ttobag.eot);
  src: local('나눔손글씨 동화또박 '),
       local('나눔손글씨 동화또박'),
       url(./donghwa-ttobag.eot?#iefix) format('embedded-opentype'),
       url(./donghwa-ttobag.woff2) format('woff2'),
       url(./donghwa-ttobag.woff) format('woff'),
       
       url(./donghwa-ttobag.ttf) format('truetype'),
       url(./donghwa-ttobag.svg#donghwa-ttobag) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'nanum-handwritting-donghwa-ttobag';
  src: url(./donghwa-ttobag.eot);
  src: local('nanum-handwritting-donghwa-ttobag '),
       local('nanum-handwritting-donghwa-ttobag'),
       url(./donghwa-ttobag.eot?#iefix) format('embedded-opentype'),
       url(./donghwa-ttobag.woff2) format('woff2'),
       url(./donghwa-ttobag.woff) format('woff'),
       
       url(./donghwa-ttobag.ttf) format('truetype'),
       url(./donghwa-ttobag.svg#donghwa-ttobag) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
