
@font-face {
  font-family: '나눔손글씨 따악단단';
  src: url(./tta-agdandan.eot);
  src: local('나눔손글씨 따악단단 '),
       local('나눔손글씨 따악단단'),
       url(./tta-agdandan.eot?#iefix) format('embedded-opentype'),
       url(./tta-agdandan.woff2) format('woff2'),
       url(./tta-agdandan.woff) format('woff'),
       
       url(./tta-agdandan.ttf) format('truetype'),
       url(./tta-agdandan.svg#tta-agdandan) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: '나눔손글씨 따악단단';
  src: url(./tta-agdandan.eot);
  src: local('나눔손글씨 따악단단 '),
       local('나눔손글씨 따악단단'),
       url(./tta-agdandan.eot?#iefix) format('embedded-opentype'),
       url(./tta-agdandan.woff2) format('woff2'),
       url(./tta-agdandan.woff) format('woff'),
       
       url(./tta-agdandan.ttf) format('truetype'),
       url(./tta-agdandan.svg#tta-agdandan) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'nanum-handwritting-tta-agdandan';
  src: url(./tta-agdandan.eot);
  src: local('nanum-handwritting-tta-agdandan '),
       local('nanum-handwritting-tta-agdandan'),
       url(./tta-agdandan.eot?#iefix) format('embedded-opentype'),
       url(./tta-agdandan.woff2) format('woff2'),
       url(./tta-agdandan.woff) format('woff'),
       
       url(./tta-agdandan.ttf) format('truetype'),
       url(./tta-agdandan.svg#tta-agdandan) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
