@font-face {
  font-family: '학교안심 지우개';
  src: local('학교안심 지우개'), local('학교안심 지우개 '), local('Hakgyoansim Jiugae'), local('Hakgyoansim Jiugae '), url(./HakgyoansimJiugaeR.woff2) format('woff2'), url(./HakgyoansimJiugaeR.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
