@font-face {
  font-family: '학교안심 마법사';
  src: local('학교안심 마법사'), local('학교안심 마법사 '), local('Hakgyoansim Mabeopsa'), local('Hakgyoansim Mabeopsa '), url(./HakgyoansimMabeopsaR.woff2) format('woff2'), url(./HakgyoansimMabeopsaR.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
