@font-face {
  font-family: '나눔손글씨 장미체';
  src: local('나눔손글씨 장미체'), local('나눔손글씨 장미체 '), local('Nanum JangMiCe'), local('Nanum JangMiCe '), url(./jangmiche.woff2) format('woff2'), url(./jangmiche.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
