@font-face {
  font-family: '나눔바른고딕 옛한글';
  src: local('나눔바른고딕 옛한글'), local('나눔바른고딕 옛한글 '), local('NanumBarunGothic YetHangul'), local('NanumBarunGothic YetHangul '), url(./NanumBarunGothic-YetHangul.woff2) format('woff2'), url(./NanumBarunGothic-YetHangul.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
