
@font-face {
  font-family: '나눔손글씨 암스테르담';
  src: url(./amseuteleudam.eot);
  src: local('나눔손글씨 암스테르담 '),
       local('나눔손글씨 암스테르담'),
       url(./amseuteleudam.eot?#iefix) format('embedded-opentype'),
       url(./amseuteleudam.woff2) format('woff2'),
       url(./amseuteleudam.woff) format('woff'),
       url(./amseuteleudam.ttf) format('truetype'),
       url(./amseuteleudam.otf) format('otf'),
       url(./amseuteleudam.svg#amseuteleudam) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: '나눔손글씨암스테르담';
  src: url(./amseuteleudam.eot);
  src: local('나눔손글씨암스테르담 '),
       local('나눔손글씨암스테르담'),
       url(./amseuteleudam.eot?#iefix) format('embedded-opentype'),
       url(./amseuteleudam.woff2) format('woff2'),
       url(./amseuteleudam.woff) format('woff'),
       url(./amseuteleudam.ttf) format('truetype'),
       url(./amseuteleudam.otf) format('otf'),
       url(./amseuteleudam.svg#amseuteleudam) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'nanum-handwritting-amseuteleudam';
  src: url(./amseuteleudam.eot);
  src: local('nanum-handwritting-amseuteleudam '),
       local('nanum-handwritting-amseuteleudam'),
       url(./amseuteleudam.eot?#iefix) format('embedded-opentype'),
       url(./amseuteleudam.woff2) format('woff2'),
       url(./amseuteleudam.woff) format('woff'),
       url(./amseuteleudam.ttf) format('truetype'),
       url(./amseuteleudam.otf) format('otf'),
       url(./amseuteleudam.svg#amseuteleudam) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
