@font-face {
  font-family: '학교안심 꼬꼬마';
  src: local('학교안심 꼬꼬마'), local('학교안심 꼬꼬마 '), local('Hakgyoansim Kkokkoma'), local('Hakgyoansim Kkokkoma '), url(./HakgyoansimKkokkomaR.woff2) format('woff2'), url(./HakgyoansimKkokkomaR.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
