@font-face {
  font-family: '리디바탕';
  src: local('리디바탕'), local('리디바탕 '), local('RIDIBatang'), local('RIDIBatang '), url(./RIDIBatang.woff2) format('woff2'), url(./RIDIBatang.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
