@font-face {
  font-family: '나눔고딕OTF 에코';
  src: local('나눔고딕OTF 에코'), local('나눔고딕OTF 에코 '), local('NanumGothicOTF Eco'), local('NanumGothicOTF Eco '), url(./NanumGothicEco.woff2) format('woff2'), url(./NanumGothicEco.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: '나눔고딕OTF 에코';
  src: local('나눔고딕OTF 에코'), local('나눔고딕OTF 에코 '), local('NanumGothicOTF Eco'), local('NanumGothicOTF Eco '), url(./NanumGothicEcoBold.woff2) format('woff2'), url(./NanumGothicEcoBold.woff) format('woff');
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: '나눔고딕OTF 에코';
  src: local('나눔고딕OTF 에코'), local('나눔고딕OTF 에코 '), local('NanumGothicOTF Eco'), local('NanumGothicOTF Eco '), url(./NanumGothicEcoExtraBold.woff2) format('woff2'), url(./NanumGothicEcoExtraBold.woff) format('woff');
  font-display: swap;
  font-weight: 800;
}
