
@font-face {
  font-family: '나눔스퀘어라운드OTF';
  src: url(./NanumSquareRoundOTFR.eot);
  src: local('나눔스퀘어라운드OTF '),
       local('나눔스퀘어라운드OTF'),
       url(./NanumSquareRoundOTFR.eot?#iefix) format('embedded-opentype'),
       url(./NanumSquareRoundOTFR.ttf) format('truetype'),
       url(./NanumSquareRoundOTFR.woff) format('woff'),
       url(./NanumSquareRoundOTFR.woff2) format('woff2'),
       url(./NanumSquareRoundOTFR.svg#NanumSquareRoundOTFR) format('svg'),
       url(./NanumSquareRoundOTFR.otf) format('otf');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: '나눔스퀘어라운드OTF';
  src: url(./NanumSquareRoundOTFL.eot);
  src: local('나눔스퀘어라운드OTF '),
       local('나눔스퀘어라운드OTF'),
       url(./NanumSquareRoundOTFL.eot?#iefix) format('embedded-opentype'),
       url(./NanumSquareRoundOTFL.ttf) format('truetype'),
       url(./NanumSquareRoundOTFL.woff) format('woff'),
       url(./NanumSquareRoundOTFL.woff2) format('woff2'),
       url(./NanumSquareRoundOTFL.svg#NanumSquareRoundOTFL) format('svg'),
       url(./NanumSquareRoundOTFL.otf) format('otf');
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: '나눔스퀘어라운드OTF';
  src: url(./NanumSquareRoundOTFB.eot);
  src: local('나눔스퀘어라운드OTF '),
       local('나눔스퀘어라운드OTF'),
       url(./NanumSquareRoundOTFB.eot?#iefix) format('embedded-opentype'),
       url(./NanumSquareRoundOTFB.ttf) format('truetype'),
       url(./NanumSquareRoundOTFB.woff) format('woff'),
       url(./NanumSquareRoundOTFB.woff2) format('woff2'),
       url(./NanumSquareRoundOTFB.svg#NanumSquareRoundOTFB) format('svg'),
       url(./NanumSquareRoundOTFB.otf) format('otf');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: '나눔스퀘어라운드OTF';
  src: url(./NanumSquareRoundOTFEB.eot);
  src: local('나눔스퀘어라운드OTF '),
       local('나눔스퀘어라운드OTF'),
       url(./NanumSquareRoundOTFEB.eot?#iefix) format('embedded-opentype'),
       url(./NanumSquareRoundOTFEB.ttf) format('truetype'),
       url(./NanumSquareRoundOTFEB.woff) format('woff'),
       url(./NanumSquareRoundOTFEB.woff2) format('woff2'),
       url(./NanumSquareRoundOTFEB.svg#NanumSquareRoundOTFEB) format('svg'),
       url(./NanumSquareRoundOTFEB.otf) format('otf');
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}
