@font-face {
  font-family: '나눔스퀘어라운드OTF';
  src: local('나눔스퀘어라운드OTF'), local('나눔스퀘어라운드OTF '), local('NanumSquareRoundOTF'), local('NanumSquareRoundOTF '), url(./NanumSquareRoundOTFR.woff2) format('woff2'), url(./NanumSquareRoundOTFR.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: '나눔스퀘어라운드OTF';
  src: local('나눔스퀘어라운드OTF'), local('나눔스퀘어라운드OTF '), local('NanumSquareRoundOTF'), local('NanumSquareRoundOTF '), url(./NanumSquareRoundOTFL.woff2) format('woff2'), url(./NanumSquareRoundOTFL.woff) format('woff');
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: '나눔스퀘어라운드OTF';
  src: local('나눔스퀘어라운드OTF'), local('나눔스퀘어라운드OTF '), local('NanumSquareRoundOTF'), local('NanumSquareRoundOTF '), url(./NanumSquareRoundOTFB.woff2) format('woff2'), url(./NanumSquareRoundOTFB.woff) format('woff');
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: '나눔스퀘어라운드OTF';
  src: local('나눔스퀘어라운드OTF'), local('나눔스퀘어라운드OTF '), local('NanumSquareRoundOTF'), local('NanumSquareRoundOTF '), url(./NanumSquareRoundOTFEB.woff2) format('woff2'), url(./NanumSquareRoundOTFEB.woff) format('woff');
  font-display: swap;
  font-weight: 800;
}
