@font-face {
  font-family: '나눔손글씨 나는 이겨낸다';
  src: local('나눔손글씨 나는 이겨낸다'), local('나눔손글씨 나는 이겨낸다 '), local('Nanum NaNeunIGyeoNaenDa'), local('Nanum NaNeunIGyeoNaenDa '), url(./naneun-igyeonaenda.woff2) format('woff2'), url(./naneun-igyeonaenda.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
