@font-face {
  font-family: '나눔손글씨 사랑해 아들';
  src: url(./salanghae-adeul.eot);
  src: local('나눔손글씨 사랑해 아들 '),
       local('나눔손글씨 사랑해 아들'),
       url(./salanghae-adeul.eot?#iefix) format('embedded-opentype'),
       url(./salanghae-adeul.woff2) format('woff2'),
       url(./salanghae-adeul.woff) format('woff'),
       
       url(./salanghae-adeul.ttf) format('truetype'),
       url(./salanghae-adeul.svg#salanghae-adeul) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: '나눔손글씨 사랑해 아들';
  src: url(./salanghae-adeul.eot);
  src: local('나눔손글씨 사랑해 아들 '),
       local('나눔손글씨 사랑해 아들'),
       url(./salanghae-adeul.eot?#iefix) format('embedded-opentype'),
       url(./salanghae-adeul.woff2) format('woff2'),
       url(./salanghae-adeul.woff) format('woff'),
       
       url(./salanghae-adeul.ttf) format('truetype'),
       url(./salanghae-adeul.svg#salanghae-adeul) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'nanum-handwritting-salanghae-adeul';
  src: url(./salanghae-adeul.eot);
  src: local('nanum-handwritting-salanghae-adeul '),
       local('nanum-handwritting-salanghae-adeul'),
       url(./salanghae-adeul.eot?#iefix) format('embedded-opentype'),
       url(./salanghae-adeul.woff2) format('woff2'),
       url(./salanghae-adeul.woff) format('woff'),
       
       url(./salanghae-adeul.ttf) format('truetype'),
       url(./salanghae-adeul.svg#salanghae-adeul) format('svg');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
