@font-face {
  font-family: '학교안심 분필';
  src: local('학교안심 분필'), local('학교안심 분필 '), local('Hakgyoansim Bunpil'), local('Hakgyoansim Bunpil '), url(./HakgyoansimBunpilR.woff2) format('woff2'), url(./HakgyoansimBunpilR.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
