@font-face {
  font-family: '학교안심 점심시간OTF';
  src: local('학교안심 점심시간OTF'), local('학교안심 점심시간OTF '), local('Hakgyoansim JeomsimsiganOTF'), local('Hakgyoansim JeomsimsiganOTF '), url(./HakgyoansimJeomsimsiganOTFB.woff2) format('woff2'), url(./HakgyoansimJeomsimsiganOTFB.woff) format('woff');
  font-display: swap;
  font-weight: 700;
}
