@font-face {
  font-family: '학교안심 점심시간';
  src: local('학교안심 점심시간'), local('학교안심 점심시간 '), local('Hakgyoansim Jeomsimsigan'), local('Hakgyoansim Jeomsimsigan '), url(./HakgyoansimJeomsimsiganB.woff2) format('woff2'), url(./HakgyoansimJeomsimsiganB.woff) format('woff');
  font-display: swap;
  font-weight: 700;
}
