@font-face {
  font-family: '넥슨Lv1고딕 Low OTF';
  src: url(./NEXON_Lv1_Gothic_Low_OTF_Light.eot);
  src: local('넥슨Lv1고딕 Low OTF '),
       local('넥슨Lv1고딕 Low OTF'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Light.eot?#iefix) format('embedded-opentype'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Light.woff2) format('woff2'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Light.woff) format('woff'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Light.otf) format('otf'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Light.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: '넥슨Lv1고딕LowOTF';
  src: url(./NEXON_Lv1_Gothic_Low_OTF_Light.eot);
  src: local('넥슨Lv1고딕LowOTF '),
       local('넥슨Lv1고딕LowOTF'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Light.eot?#iefix) format('embedded-opentype'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Light.woff2) format('woff2'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Light.woff) format('woff'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Light.otf) format('otf'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Light.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'nexon-lv1-gothic-low-otf';
  src: url(./NEXON_Lv1_Gothic_Low_OTF_Light.eot);
  src: local('nexon-lv1-gothic-low-otf '),
       local('nexon-lv1-gothic-low-otf'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Light.eot?#iefix) format('embedded-opentype'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Light.woff2) format('woff2'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Light.woff) format('woff'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Light.otf) format('otf'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Light.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: '넥슨Lv1고딕 Low OTF';
  src: url(./NEXON_Lv1_Gothic_Low_OTF.eot);
  src: local('넥슨Lv1고딕 Low OTF '),
       local('넥슨Lv1고딕 Low OTF'),
       url(./NEXON_Lv1_Gothic_Low_OTF.eot?#iefix) format('embedded-opentype'),
       url(./NEXON_Lv1_Gothic_Low_OTF.woff2) format('woff2'),
       url(./NEXON_Lv1_Gothic_Low_OTF.woff) format('woff'),
       url(./NEXON_Lv1_Gothic_Low_OTF.otf) format('otf'),
       url(./NEXON_Lv1_Gothic_Low_OTF.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: '넥슨Lv1고딕LowOTF';
  src: url(./NEXON_Lv1_Gothic_Low_OTF.eot);
  src: local('넥슨Lv1고딕LowOTF '),
       local('넥슨Lv1고딕LowOTF'),
       url(./NEXON_Lv1_Gothic_Low_OTF.eot?#iefix) format('embedded-opentype'),
       url(./NEXON_Lv1_Gothic_Low_OTF.woff2) format('woff2'),
       url(./NEXON_Lv1_Gothic_Low_OTF.woff) format('woff'),
       url(./NEXON_Lv1_Gothic_Low_OTF.otf) format('otf'),
       url(./NEXON_Lv1_Gothic_Low_OTF.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'nexon-lv1-gothic-low-otf';
  src: url(./NEXON_Lv1_Gothic_Low_OTF.eot);
  src: local('nexon-lv1-gothic-low-otf '),
       local('nexon-lv1-gothic-low-otf'),
       url(./NEXON_Lv1_Gothic_Low_OTF.eot?#iefix) format('embedded-opentype'),
       url(./NEXON_Lv1_Gothic_Low_OTF.woff2) format('woff2'),
       url(./NEXON_Lv1_Gothic_Low_OTF.woff) format('woff'),
       url(./NEXON_Lv1_Gothic_Low_OTF.otf) format('otf'),
       url(./NEXON_Lv1_Gothic_Low_OTF.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: '넥슨Lv1고딕 Low OTF';
  src: url(./NEXON_Lv1_Gothic_Low_OTF_Bold.eot);
  src: local('넥슨Lv1고딕 Low OTF '),
       local('넥슨Lv1고딕 Low OTF'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Bold.eot?#iefix) format('embedded-opentype'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Bold.woff2) format('woff2'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Bold.woff) format('woff'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Bold.otf) format('otf'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Bold.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: '넥슨Lv1고딕LowOTF';
  src: url(./NEXON_Lv1_Gothic_Low_OTF_Bold.eot);
  src: local('넥슨Lv1고딕LowOTF '),
       local('넥슨Lv1고딕LowOTF'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Bold.eot?#iefix) format('embedded-opentype'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Bold.woff2) format('woff2'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Bold.woff) format('woff'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Bold.otf) format('otf'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Bold.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'nexon-lv1-gothic-low-otf';
  src: url(./NEXON_Lv1_Gothic_Low_OTF_Bold.eot);
  src: local('nexon-lv1-gothic-low-otf '),
       local('nexon-lv1-gothic-low-otf'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Bold.eot?#iefix) format('embedded-opentype'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Bold.woff2) format('woff2'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Bold.woff) format('woff'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Bold.otf) format('otf'),
       url(./NEXON_Lv1_Gothic_Low_OTF_Bold.ttf) format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
