@font-face {
  font-family: '학교안심 꽈배기OTF';
  src: local('학교안심 꽈배기OTF'), local('학교안심 꽈배기OTF '), local('Hakgyoansim KkwabaegiOTF'), local('Hakgyoansim KkwabaegiOTF '), url(./HakgyoansimKkwabaegiOTFR.woff2) format('woff2'), url(./HakgyoansimKkwabaegiOTFR.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
