
@font-face {
  font-family: 'CookieRun';
  src: url(./CookieRunBold.eot);
  src: local('CookieRun '),
       local('CookieRun'),
       url(./CookieRunBold.eot?#iefix) format('embedded-opentype'),
       url(./CookieRunBold.ttf) format('truetype'),
       url(./CookieRunBold.woff) format('woff'),
       url(./CookieRunBold.woff2) format('woff2'),
       url(./CookieRunBold.svg#CookieRunBold) format('svg'),
       url(./CookieRunBold.otf) format('otf');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'CookieRun';
  src: url(./CookieRunBlack.eot);
  src: local('CookieRun '),
       local('CookieRun'),
       url(./CookieRunBlack.eot?#iefix) format('embedded-opentype'),
       url(./CookieRunBlack.ttf) format('truetype'),
       url(./CookieRunBlack.woff) format('woff'),
       url(./CookieRunBlack.woff2) format('woff2'),
       url(./CookieRunBlack.svg#CookieRunBlack) format('svg'),
       url(./CookieRunBlack.otf) format('otf');
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}
