@font-face {
  font-family: '나눔손글씨 혁이체';
  src: local('나눔손글씨 혁이체'), local('나눔손글씨 혁이체 '), local('Nanum HyeogICe'), local('Nanum HyeogICe '), url(./hyeog-iche.woff2) format('woff2'), url(./hyeog-iche.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
