@font-face {
  font-family: '학교안심 돋보기OTF';
  src: local('학교안심 돋보기OTF'), local('학교안심 돋보기OTF '), local('Hakgyoansim DotbogiOTF'), local('Hakgyoansim DotbogiOTF '), url(./HakgyoansimDotbogiOTFR.woff2) format('woff2'), url(./HakgyoansimDotbogiOTFR.woff) format('woff');
  font-display: swap;
  font-weight: 400;
}
